<div class="todosy-action" ng-class="{'todosy-action--logged-in' : authenticated }">
  <div class="todosy-action-total">{{percentDone()}}</div>
  <div class="todosy-action-clear" ng-click="clear()"></div>
  <div class="todosy-action-button__facebook" ng-click="facebook()"></div>
  <div class="todosy-action-button__google" ng-click="google()"></div>
  <div class="todosy-action-button__github"  ng-click="github()"></div>
</div>
