<div class="todosy-inputbar">
  <form ng-submit="add()">
    <input
      class="todosy-inputbar__field"
      ng-model="title"
      placeholder="Enter new Todo..."
      type="text"
      focus />
  </form>
</div>
