<div
  class="todosy-todos-todo"
  ng-class="{
    'todosy-todos-todo__done': todo.done,
    'todosy-todos-todo__assigned': todo.assigned
  }"
  ng-click="proceed()"
  todosy-right-click="cutback()"
  style="background-image: {{ todo.assigned ? 'url(' + todo.assigned.avatar + ')' : 'none'}}">

  <div class="todosy-todos-todo-new">
    New Todo
  </div>

  <div class="todosy-todos-todo-assignee">
    {{ todo.assigned.name }}
  </div>

  <div class="todosy-todos-todo-title">
    {{ todo.title }}
  </div>
</div>
